/configuration:
  get:
    summary: Get Firefly III system configuration values.
    description: Returns all editable and not-editable configuration values for this Firefly III installation
    operationId: getConfiguration
    parameters:
      _tpl_correlationParameter,3:
    tags:
      - configuration
    responses:
      _tpl_unauthenticatedResponse,3:
      _tpl_notFoundResponse,3:
      _tpl_badRequestResponse,3:
      _tpl_internalExceptionResponse,3:
      "200":
        description: System configuration values
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ConfigurationArray'
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationArray'
/configuration/{name}:
  get:
    summary: Get a single Firefly III system configuration value
    description: Returns one configuration variable for this Firefly III installation
    operationId: getSingleConfiguration
    tags:
      - configuration
    parameters:
      _tpl_correlationParameter,3:
      - in: path
        name: name
        required: true
        schema:
          $ref: '#/components/schemas/ConfigValueFilter'
        description: The name of the configuration value you want to know.
    responses:
      _tpl_unauthenticatedResponse,3:
      _tpl_notFoundResponse,3:
      _tpl_badRequestResponse,3:
      _tpl_internalExceptionResponse,3:
      "200":
        description: One system configuration value
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationSingle'
  put:
    tags:
      - configuration
    summary: Update configuration value
    operationId: setConfiguration
    description: Set a single configuration value. Not all configuration values can be updated so the list of accepted configuration variables is small.
    parameters:
      _tpl_correlationParameter,3:
      - in: path
        name: name
        required: true
        schema:
          $ref: '#/components/schemas/ConfigValueUpdateFilter'
        description: The name of the configuration value you want to update.
    responses:
      "200":
        description: 'New configuration value stored, result in response.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationSingle'
      _tpl_validationErrorResponse,3:
      _tpl_unauthenticatedResponse,3:
      _tpl_notFoundResponse,3:
      _tpl_badRequestResponse,3:
      _tpl_internalExceptionResponse,3:
    requestBody:
      description: JSON array with the necessary account information or key=value pairs. See the model for the exact specifications.
      content:
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/ConfigurationUpdate'
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigurationUpdate'
      required: true
