ChartDataSet:
  type: object
  properties:
    label:
      type: string
      format: string
      example: "Checking account"
      description: "This is the title of the current set. It can refer to an account, a budget or another object (by name)."
_tpl_currencyFields,2:
_tpl_primaryCurrencyFields,2:
    date:
      type: string
      format: date-time
      example: "%start_date_and_time%"
    start_date:
      type: string
      format: date-time
      example: "%start_date_and_time%"
    end_date:
      type: string
      format: date-time
      example: "%end_date_and_time%"
    type:
      type: string
      format: string
      example: "line"
      description: "Indicated the type of chart that is expected to be rendered. You can safely ignore this if you want."
    period:
      $ref: '#/components/schemas/ChartDatasetPeriodProperty'
    yAxisID:
      type: integer
      format: int32
      example: 0
      description: "Used to indicate the Y axis for this data set. Is usually between 0 and 1 (left and right side of the chart)."
    entries:
      type: object
      description: "The actual entries for this data set. They 'key' value is the label for the data point. The value is the actual (numerical) value."
      items:
        $ref: '#/components/schemas/ChartDataPoint'
    pc_entries:
      type: object
      description: "The actual entries for this data set. They 'key' value is the label for the data point. The value is the actual (numerical) value."
      items:
        $ref: '#/components/schemas/ChartDataPoint'

